{% extends 'layout.html' %}

{% block content %}

<!-- TODO: url base de las direcciones es 'https://blhx.fandom.com/' -->

<table class="table table-dark table-striped table-hover table-bordered">
    <tbody>
        <tr>
            <th colspan="2">List of Ships with Wedding Skins
            </th>
        </tr>
        <tr>
            <th>Ship
            </th>
            <th>Wedding Skin
            </th>
        </tr>
        <tr>
            <td>
                <a href="/wiki/Akagi" title="Akagi">Akagi</a>
            </td>
            <td>Deep Crimson Poppy
            </td>
        </tr>
        <tr>
            <td><a href="/wiki/Akashi" title="Akashi">Akashi</a>
            </td>
            <td>White Cat's Repayment
            </td>
        </tr>
        <tr>
            <td><a href="/wiki/Atago" title="Atago">Atago</a>
            </td>
            <td>Lily-White Vow
            </td>
        </tr>
        <tr>
            <td><a href="/wiki/Aurora" title="Aurora">Aurora</a>
            </td>
            <td>Garb of Eternal Prosperity
            </td>
        </tr>
        <tr>
            <td><a href="/wiki/Ayanami" title="Ayanami">Ayanami</a>
            </td>
            <td>Demon's Finest Dress
            </td>
        </tr>
        <tr>
            <td><a href="/wiki/Belfast" title="Belfast">Belfast</a>
            </td>
            <td>The Pledge of Claddagh
            </td>
        </tr>
        <tr>
            <td><a href="/wiki/Cleveland" title="Cleveland">Cleveland</a>
            </td>
            <td>Heartfelt Moment
            </td>
        </tr>
        <tr>
            <td><a href="/wiki/Enterprise" title="Enterprise">Enterprise</a>
            </td>
            <td>Starlight Oath
            </td>
        </tr>
        <tr>
            <td><a href="/wiki/Friedrich_der_Grosse" title="Friedrich der Grosse">Friedrich der Grosse</a>
            </td>
            <td>Zeremonie of the Cradle
            </td>
        </tr>
        <tr>
            <td><a href="/wiki/Hood" title="Hood">Hood</a>
            </td>
            <td>Rosey Love Poem
            </td>
        </tr>
        <tr>
            <td><a href="/wiki/Illustrious" title="Illustrious">Illustrious</a>
            </td>
            <td>Morning Star of Love and Hope
            </td>
        </tr>
        <tr>
            <td><a href="/wiki/Javelin" title="Javelin">Javelin</a>
            </td>
            <td>Blissful Purity
            </td>
        </tr>
        <tr>
            <td><a href="/wiki/Kaga" title="Kaga">Kaga</a>
            </td>
            <td>Sacred Blue Lily
            </td>
        </tr>
        <tr>
            <td><a href="/wiki/Laffey" title="Laffey">Laffey</a>
            </td>
            <td>White Rabbit's Oath
            </td>
        </tr>
        <tr>
            <td><a href="/wiki/Mikasa" title="Mikasa">Mikasa</a>
            </td>
            <td>Untarnished Splendor
            </td>
        </tr>
        <tr>
            <td><a href="/wiki/Minneapolis" title="Minneapolis">Minneapolis</a>
            </td>
            <td>Trapper White
            </td>
        </tr>
        <tr>
            <td><a href="/wiki/Nagato" title="Nagato">Nagato</a>
            </td>
            <td>Great Fox's White Gown
            </td>
        </tr>
        <tr>
            <td><a href="/wiki/Prinz_Eugen" title="Prinz Eugen">Prinz Eugen</a>
            </td>
            <td>Symphonic Fate
            </td>
        </tr>
        <tr>
            <td><a href="/wiki/San_Diego" title="San Diego">San Diego</a>
            </td>
            <td>No. 1 June Bride!
            </td>
        </tr>
        <tr>
            <td><a href="/wiki/Takao" title="Takao">Takao</a>
            </td>
            <td>Sakura Hanami
            </td>
        </tr>
        <tr>
            <td><a href="/wiki/Unicorn" title="Unicorn">Unicorn</a>
            </td>
            <td>A Dream of Pure Vows
            </td>
        </tr>
        <tr>
            <td><a href="/wiki/Vampire" title="Vampire">Vampire</a>
            </td>
            <td>Eli's Blessing
            </td>
        </tr>
        <tr>
            <td><a href="/wiki/Yamashiro" title="Yamashiro">Yamashiro</a>
            </td>
            <td>Bridal Attack!
            </td>
        </tr>
        <tr>
            <td><a href="/wiki/Yukikaze" title="Yukikaze">Yukikaze</a>
            </td>
            <td>The Warmth of Spring
            </td>
        </tr>
        <tr>
            <td><a href="/wiki/Yuudachi" title="Yuudachi">Yuudachi</a>
            </td>
            <td>The Bride of Solomon
            </td>
        </tr>
        <tr>
            <td><a href="/wiki/Z23" title="Z23">Z23</a>
            </td>
            <td>Schwarze Hochzeit
            </td>
        </tr>
    </tbody>
</table>

{% endblock %}