{% extends 'layout.html' %}

{% block content %}
    <h1>Personajes</h1>
    <table id="dataTable" class="table table-dark table-striped table-hover table-bordered">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Clase</th>
                <th>Tier</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            {% for tipo in jsonData['AzurLane'] %}
                {% set clase = tipo['clase'] %}
                {% set barcos = tipo['barcos'] %}
                {% for barco in barcos %}
            <tr>
                <td>{{barco["nombre"]}}</td>
                <td>{{clase}}</td>
                <td>{{barco["tier"]}}</td>
            </tr>
                {% endfor %}
            {% endfor %}
        </tbody>
    </table>
{% endblock %}